[Unit]
Description=inotify-createrepo
After=network.target

[Service]
Type=forking
ExecStart = /bin/bash /usr/local/bin/inotify-createrepo
ExecReload = /bin/kill -s HUP $MAINPID
ExecStop = /bin/kill -s TERM $MAINPID

[Install]
WantedBy=multi-user.target
