[Unit]
Description=inotify-createrepo
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/run-script-while.sh

[Install]
WantedBy=multi-user.target
